
  {% include "header.html" %}

<script type="text/javascript">

    // Shorthand for $( document ).ready()
$(function() {

    var DialogElements = jQuery(".ms-Dialog");
    var DialogComponents = [];

    for (var i = 0; i < DialogElements.length; i++) {
      (function() {
        DialogComponents[i] = new fabric['Dialog'](DialogElements[i]);
      }());
    }
    // When clicking the button, open the dialog
    jQuery(".dialog-button").click(function() {
        dialog_id = $(this).data('countid');
        openDialog(dialog_id-1); //decrement due to later use as array index
    });

    function openDialog(i) {
      // Open the dialog
        console.log("dialogid " + i);
        DialogComponents[i].open();
    }
});
</script>


  <!-- App main content markup. -->
  <div class="ms-Grid-col ms-u-mdPush1 ms-u-md9 ms-u-lgPush1 ms-u-lg6">
    <div>
	    <h2 class="ms-font-xxl ms-fontWeight-semibold">Hi {{ name }}!</h2>


        {% if showDeletedCalendars == 1 %}

            <div class="ms-MessageBar ms-MessageBar--success">
              <div class="ms-MessageBar-content">
                <div class="ms-MessageBar-icon">
                  <i class="ms-Icon ms-Icon--Completed"></i>
                </div>
                <div class="ms-MessageBar-text">
                  Der Kalender {{ calName }} wurde geloescht!
                </div>
              </div>
            </div>

        {% endif %}


      <!-- show calendars -->
      {% if showCalendars == 1 %}
      <div>
        <p class="ms-font-xl">
            Folgende Kalender sind registriert:</br>
        </p>

        <ul class="calendars ms-List">
        {% if jsondata != null %}
        {% for cal in jsondata.value %}

            <li class="ms-ListItem" tabindex="0">
              <span class="ms-ListItem-primaryText">{{ cal.name }}</span>
              <span class="ms-ListItem-secondaryText">{{ cal.owner.name}}</span>
              <span class="ms-ListItem-tertiaryText">{{ cal.owner.address}}</span>
              <span class="ms-ListItem-metaText"></span>
              <div class="ms-ListItem-selectionTarget"></div>
              <div class="ms-ListItem-actions">
                <!-- Actions for the calendar -->
                <div class="ms-ListItem-action">
                  <i class="ms-Icon ms-Icon--Rename"></i>

                  <div class="docs-DialogExample-close">
                      <div class="ms-Dialog ms-Dialog--close">
                        <button class="ms-Dialog-button ms-Dialog-buttonClose">
                          <i class="ms-Icon ms-Icon--Cancel"></i>
                        </button>
                        <div class="ms-Dialog-title">M&ouml;chten Sie den Kalender wirklich l&ouml;schen?</div>
                        <div class="ms-Dialog-content">
                          <p class="ms-Dialog-subText">Das L&ouml;schen des Kalenders kann nicht r&uuml;ckg&auml;nging gemacht werden.
                          Alle Raumreservierungen gehen dabei f&uuml;r diesen Raum verloren!</p>
                        </div>
                        <div class="ms-Dialog-actions">
                          <button onclick="window.location.href='/delete_calendar?calID={{ cal.id }}&calName={{cal.name}}'" class="ms-Button ms-Dialog-action ms-Button--primary">
                            <span class="ms-Button-label">L&ouml;schen</span>
                          </button>
                          <button class="ms-Button ms-Dialog-action">
                            <span class="ms-Button-label">Abbrechen</span>
                          </button>
                        </div>
                      </div>
                      <i class="dialog-button ms-Icon ms-Icon--Delete " data-countid="{{ loop.index }}"></i>
                      <label class="docs-DialogExample-label"></label>
                  </div>

              <form action="/list_events">
                  <input name="cal_id" value="{{cal.id}}" type="hidden">
                  <input name="cal_name"   value="{{cal.name}} "type="hidden">
                  <button type="submit" class="ms-Button ms-Button--small">
                    <span class="ms-Button-label">Events anzeigen</span>
                  </button>
              </form>
            </li>

        {% endfor %}
        {% endif %}

        </ul>


        <!-- Table with amazon data
        <h2>Events during the time specified with Alexa</h2>

        {% if jsondata != null %}
        {% for cal in jsondata.value %}
          <li class="ms-ListItem" tabindex="0">
              <span class="ms-ListItem-primaryText">{{ cal.name }}</span>
              <span class="ms-ListItem-secondaryText">{{ cal.owner.name}}</span>
              <span class="ms-ListItem-tertiaryText">{{ cal.owner.address}}</span>
          <h2>&nbsp;</h2>
           <form action="/list_events_for_time">
               <input name="cal_id" value="{{cal.id}}" type="hidden">
                  <input name="cal_name"   value="{{cal.name}} "type="hidden">
            <input type = "text" name="date" value = "{{ aDate}}">
            <input type = "text" name="start_time" value="{{aTime}}">
            <input type = "text" name="end_time" value = "21:00:00">
             <button type="submit" class="ms-Button ms-Button--small">
                    <span class="ms-Button-label">List events for selected time</span>
              </button>
          </form>
          </li>

        {% endfor %}
        {% endif %}
      -->


        <p class="ms-font-xl">create an event</p>

        {% if jsondata != null %}
        {% for cal in jsondata.value %}
          <li class="ms-ListItem" tabindex="0">
              <span class="ms-ListItem-primaryText">{{ cal.name }}</span>
              <span class="ms-ListItem-secondaryText">{{ cal.owner.name}}</span>
              <span class="ms-ListItem-tertiaryText">{{ cal.owner.address}}</span>


          <form action="/create_event">
              <input name="cal_id" value="{{cal.id}}" type="hidden">
               <input name="cal_name"   value="{{cal.name}} "type="hidden">
            <input value = "" type = "hidden" >
            <input type = "text" name="date" value = "2017-08-16">
            <input type = "text" name="start" value="09:00:00">
            <input type = "text" name="end" value = "10:00:00">
            <input type = "text" name="title" value = "title for this event">
            <input type = "text" name="room" value = "{{cal.name}}">
            <button type="submit" class="ms-Button ms-Button--small">
                 <span class="ms-Button-label">Event erstellen f&uuml;r diesen Raum</span>
            </button>
          </form>
          </li>

        {% endfor %}
        {% endif %}





      </div>
      {% endif %}




      <!-- show events -->
      {% if showEvents == 1 %}
      <div>
        {% if showSuccess_listEvents == 'true' %}
        <div>
        <p class="ms-font-m ms-fontColor-green">Die Events fuer den Kalender {{ calName }}!</p>
        <table class="ms-Table">
        <thead>
            <tr>
            <th>Titel</th>
            <th>Start</th>
            <th>Ende</th>
            <th>Ort</th>
            <th>Organisator</th>
            </tr>
        </thead>
        <tbody>
        {% if data != null %}
        {% for e in data.value %}
        <tr>
            <td>{{ e.subject }}</td>
            <td>{{ e.start.dateTime }}</td>
            <td>{{ e.end.dateTime }}</td>
            <td>{{ e.location.displayName }}</td>
            <td>{{ e.organizer.emailAddress.name }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
        </div>
        {% elif showError_listEvents == 'true' %}
        <div>
          <p class="ms-font-m ms-fontColor-redDark">Etwas ist schief gelaufen {{data.body}}, Kalender: {{calName}}</p>
        </div>
        {% endif %}
      </div>
      {% endif %}

    </div>
  </div>
</div>



</body>

</html>
