{% include "header.html" %}

  <div class="accountInteractions">
         <h3 class="ms-font-l">Account Interaktionen</h3>

          <!-- Create Calender for room -->
          <form action="/create_calendar">
              <b>Room free?</b>
              <input type="radio" name="resolveAvailability" value="true"> True
              <input type="radio" name="resolveAvailability" value="false"> False
            <div class="ms-TextField">
              <input name="name" class="ms-TextField-field" value="" placeholder="Room name"><br />
              <input name="city" class="ms-TextField-field" value="" placeholder="City"><br />
              <input name="countryOrRegion" class="ms-TextField-field" value="" placeholder="Country"><br />
              <input name="postalCode" class="ms-TextField-field" value="" placeholder="Postal code"><br />
              <input name="state" class="ms-TextField-field" value="" placeholder="State"><br />
              <input name="street" class="ms-TextField-field" value="" placeholder="Street"><br />
              <input name="displayName" class="ms-TextField-field" value="" placeholder="Display name"><br />
              <input name="locationEmailAddress" class="ms-TextField-field" value="" placeholder="E-Mail"><br />
              <input name="maxAttendees" class="ms-TextField-field" value="" placeholder="Attendees"><br />
            </div>
            <button type="submit" class="ms-Button">
              <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
              <span class="ms-Button-label">Add Room</span>
            </button>
          </form>
          {% if showSuccess_createCalendar == 'true' %}
          <div>
            <p class="ms-font-m ms-fontColor-green">Der Raum {{ username }} wurde erstellt!</p>
          </div>
          {% elif showError_createCalendar == 'true' %}
          <div>
            <p class="ms-font-m ms-fontColor-redDark">Beim erstellen des Kalendars fuer den Raum {{ username }} ist etwas schief gegangen!</p>
          </div>
          {% endif %}
     </div>

</body>
</html>