<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>O365 Connect</title>

  <!-- Third party dependencies. -->
  <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.css">
  <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.components.css">
  <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">


</head>
<body>

  <div class="accountInteractions">
         <h3 class="ms-font-l">Account Interaktionen</h3>

          <!-- Create Calender for room -->
          <form action="/create_calendar">
            <div class="ms-TextField">
              <input name="name" class="ms-TextField-field" value="" placeholder="Raumname">
              <input name="maxAttendees" class="ms-TextField-field" value="" placeholder="Max Anzahl">
            </div>
            <button type="submit" class="ms-Button">
              <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
              <span class="ms-Button-label">Fuege Raume hinzu</span>
            </button>
          </form>
          {% if showSuccess_createCalendar == 'true' %}
          <div>
            <p class="ms-font-m ms-fontColor-green">Der Raum {{ username }} wurde erstellt!</p>
          </div>
          {% elif showError_createCalendar == 'true' %}
          <div>
            <p class="ms-font-m ms-fontColor-redDark">Beim erstellen des Kalendars fuer den Raum {{ username }} ist etwas schief gegangen!</p>
          </div>
          {% endif %}
     </div>

</body>
</html>