<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>O365 Connect sample</title>

  <!-- Third party dependencies. -->
  <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.css">
  <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.components.css">
  <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
  
</head>

<body class="ms-Grid">
  <div class="ms-Grid-row">
  <!-- App navigation bar markup. -->
  <div class="ms-NavBar">
    <ul class="ms-NavBar-items">
      <li class="navbar-header">Microsoft Graph Connect sample</li>
      <li class="ms-NavBar-item ms-NavBar-item--right" onclick="window.location.href='/logout'"><i class="ms-Icon ms-Icon--x"></i> Disconnect</li>
    </ul>
  </div>

  <!-- App main content markup. -->
  <div class="ms-Grid-col ms-u-mdPush1 ms-u-md9 ms-u-lgPush1 ms-u-lg6">
    <div>
	    <h2 class="ms-font-xxl ms-fontWeight-semibold">Hi!</h2>
      <p class="ms-font-xl">
	Ihre Mail: <br/>
	{{ data }}
      </p>

    </div>
  </div>
</div>
</body>

</html>
