  {% include "header.html" %}


   <div class="ms-Grid-col ms-sm12 ms-md12 ms-lg12">
      <h2 class="ms-font-xxl">Guten Tag, {{ name }}!</h2>
      <p class="ms-font-xl">
           Sie sind nun mit Office 365 Graph API verbunden.
           Hier k&ouml;nnen Sie Ihre Kalender verwalten und neue R&auml;ume anlegen.
      </p>
    </div>

  <!-- App main content markup. -->
  <div class="ms-Grid-col ms-u-mdPush1 ms-u-md9 ms-u-lgPush1 ms-u-lg6 ms-lg9">

      <!-- Information -->
      <div class="accountInformation">
          <h3 class="ms-font-xl">Account Informationen</h3>

          <!-- get inormation from alexa -->
          <form action="/get_information">
            <button type="submit" class="ms-Button ms-Button--compound">
              <span class="ms-Button-label">Amazon Daten</span>
              <span class="ms-Button-description">Uebergebene Daten des Amazon Skills</span>
            </button>
          </form>

          <!-- Get my calendar -->
         <form action="/calendars">
            <button type="submit" class="ms-Button ms-Button--compound">
              <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
              <span class="ms-Button-label">Registrierte R&auml;ume</span>
              <span class="ms-Button-description">Zeigt alle Kalender der registierten R&auml;ume an</span>
            </button>
         </form>
      </div>

      <!-- Interaction -->
      <div class="accountInteractions">
        <h3 class="ms-font-xl">Account Interaktionen</h3>
        <button onclick="window.location.href='/createRoom'" class="ms-Button ms-Button--compound">
              <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
              <span class="ms-Button-label">Raum hinzufuegen</span>
              <span class="ms-Button-description">&Ouml;ffnet ein Formular, um einen neuen Raum anzulegen</span>
        </button>
    </div>

  </div>

  <div class="ms-Grid-col ms-sm6 ms-md3 ms-lg3">
      <h3 class="ms-font-xl">Account Details</h3>
      <ul class="ms-List">
		<li class="ms-ListItem">
            <span class="ms-font-m">UserID: {{ uID }} </span>
        </li>
		<li class="ms-ListItem">
            <span class="ms-font-m">Name: {{ vName }} {{ nName }}</span>
        </li>
		<li class="ms-ListItem">
            <span class="ms-font-m">Mail: {{ mail }}</span>
            <i class="ms-Icon ms-Icon--Mail"></i>
        </li>
	  </ul>
  </div>

</body>

</html>
