  {% include "header.html" %}


   <div class="ms-Grid-col ms-u-mdPush1 ms-u-md12 ms-u-lgPush1 ms-u-lg12 ms-lg12">
      <h2 class="ms-font-xxl">Guten Tag, {{ name }}!</h2>
      <p class="ms-font-xl">
           Sie sind nun mit Office 365 Graph API verbunden.
           Hier k&ouml;nnen Sie Ihre Kalender verwalten und neue R&auml;ume anlegen.
      </p>
    </div>

  <!-- App main content markup. -->
  <div class="ms-Grid-col ms-u-mdPush1 ms-u-md9 ms-u-lgPush1 ms-u-lg6 ms-lg9">

      <!-- Information -->
      <div class="accountInformation">
          <h3 class="ms-font-xl">Account Informationen</h3>

          <!-- get inormation from alexa
          <form action="/get_information">
            <button type="submit" class="ms-Button ms-Button--compound">
              <span class="ms-Button-label">Amazon Daten</span>
              <span class="ms-Button-description">Uebergebene Daten des Amazon Skills</span>
            </button>
          </form>
          -->
          <!-- Get my calendar -->
          <button type="submit" class="ms-Button ms-Button--compound" onclick="window.location.href='/calendars'">
              <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
              <span class="ms-Button-label">Registrierte R&auml;ume</span>
              <span class="ms-Button-description">Zeigt alle Kalender der registierten R&auml;ume an</span>
          </button>
      </div>

      <!-- Interaction -->
      <div class="accountInteractions">
        <h3 class="ms-font-xl">Account Interaktionen</h3>
        <button onclick="toggleCreateRoom()" class="ms-Button ms-Button--compound">
              <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
              <span class="ms-Button-label">Raum hinzufuegen</span>
              <span class="ms-Button-description">&Ouml;ffnet ein Formular, um einen neuen Raum anzulegen</span>
        </button>

        <!-- Create Calender for room -->
        <h3 class="ms-font-l">Account Interaktionen</h3>
        <form class="createRoom hide" action="/create_calendar">

            <div class="ms-TextField">

              <input type="radio" name="resolveAvailability" value="true" hidden>
              <label class="ms-Label">Stadt</label>
              <input name="city" class="ms-TextField-field" value="Heidelberg" placeholder="City">
              <label class="ms-Label">Land</label>
                <input name="countryOrRegion" class="ms-TextField-field" value="Deutschland" placeholder="Country">
              <label class="ms-Label">PLZ</label>
                <input name="postalCode" class="ms-TextField-field" value="69115" placeholder="Postal code">
              <label class="ms-Label">Bundesland</label>
                <input name="state" class="ms-TextField-field" value="Baden-Wuerttemberg" placeholder="State">
              <label class="ms-Label">Strasse</label>
                <input name="street" class="ms-TextField-field" value="Mittermaierstrasse 31" placeholder="Street">
              <label class="ms-Label">Raumname</label>
                <input name="displayName" class="ms-TextField-field" value="" placeholder="Meeting Raum X" required>

                <input name="locationEmailAddress" class="ms-TextField-field" value="" placeholder="E-Mail" hidden>
              <label class="ms-Label">Groesse des Zimmers (Personenanzahl)</label>
                <input name="maxAttendees" class="ms-TextField-field" value="" placeholder="6" required>
              </br>

            </div>
              <button type="submit" class="ms-Button ms-Button--primary createCalendarButton">
                <span class="ms-Button-label">Raum hinzuf&uuml;gen</span>
              </button>
        </form>
        {% if showSuccess_createCalendar == 'true' %}
        <div>
          <p class="ms-font-m ms-fontColor-green">Der Raum {{ username }} wurde erstellt!</p>
        </div>
        {% elif showError_createCalendar == 'true' %}
        <div>
          <p class="ms-font-m ms-fontColor-redDark">Beim erstellen des Kalendars fuer den Raum {{ username }} ist etwas schief gegangen!</p>
        </div>
        {% endif %}

    </div>

  </div>

  <script>
      function toggleCreateRoom() {
          console.log('openCreateRoom');
          if ($('.createRoom').hasClass('open')){
            $('.createRoom').removeClass('open');
            $('.createRoom').addClass('hide')
          }
          else {
            $('.createRoom').addClass('open');
            $('.createRoom').removeClass('hide')
          }

      }

  </script>




  <div class="ms-Grid-col ms-sm6 ms-md3 ms-lg3">
      <h3 class="ms-font-xl">Account Details</h3>
      <ul class="ms-List">
		<li class="ms-ListItem">
            <span class="ms-font-m">UserID: {{ uID }} </span>
        </li>
		<li class="ms-ListItem">
            <span class="ms-font-m">Name: {{ vName }} {{ nName }}</span>
        </li>
		<li class="ms-ListItem">
            <span class="ms-font-m">Mail: {{ mail }}</span>
            <i class="ms-Icon ms-Icon--Mail"></i>
        </li>
	  </ul>


      <h3 class="ms-font-xl">Alexa Informationen</h3>
      <ul class="ms-List">
		<li class="ms-ListItem">
            <span class="ms-font-m">Datum: {{ aDate }} </span>
        </li>
		<li class="ms-ListItem">
            <span class="ms-font-m">Zeit: {{ aTime }}</span>
        </li>
		<li class="ms-ListItem">
            <span class="ms-font-m">Dauer: {{ aDuration }}</span>
        </li>
        <li class="ms-ListItem">
            <span class="ms-font-m">Anzahl Teilnehmer: {{ aAttendees }}</span>
        </li>
	  </ul>

  </div>

</body>

</html>
